.container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -2rem;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  height: 5rem;
  margin-top: 5rem;
  text-align: center;
  padding: 2rem;
  color: #fff;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
