.content {
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  background-color: var(--color-grey-100);
  border-radius: 6px;
  padding: var(--size-4);
}

.content p {
  color: var(--color-grey-800);
}

.content a {
  color: #ccc;
  font-weight: bold;
}

.relative {
  position: relative;
}

.copyBtn {
  color: #ccc;
  background: #000;
  border: 3px solid #ccc;
  border-radius: 15%;
  z-index: 1;
  position: absolute;
  top: 0.3%;
  left: 95%;
  /* padding: 10px; */
}

.copyBtn:focus {
  color: #000;
  background: #ccc;
  border: 3px solid #7c7979;
  transition: 0.5s;
}

.imageContainer {
  width: 100%;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  object-fit: contain;
  max-width: 100% !important;
  display: block;
  margin: auto;
  position: relative !important;
  height: unset !important;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}

@media (max-width: 768px) {
  .copyBtn {
    left: 85%;
  }
}
