.darkBg {
  background: var(--gradient-dark);
}

.lightBg {
  background: var(--gradient-light);
}

.navDarkBg {
  background: var(--gradient-light);
  background: var(--color-grey-900);
}

.navLightBg {
  background: var(--gradient-light);
  background: var(--color-primary-700);
}

.contentDark {
  color: var(--color-grey-300) !important;
  background: var(--color-grey-800) !important;
}

.contentLight {
  color: #fff !important;
  background: var(--color-grey-400) !important;
}

.contentLight h2,
.contentDark h2 {
  text-align: center;
}

.white {
  color: #fff !important;
}
