.darkBg {
  background: var(--gradient-dark);
}

.lightBg {
  background: var(--gradient-light);
}

.navDarkBg {
  background: var(--gradient-light);
  background: var(--color-grey-900);
}

.navLightBg {
  background: var(--color-primary-300);
}

.contentDark {
  color: var(--color-grey-300) !important;
  background: var(--color-grey-800) !important;
}

.contentLight {
  color: #fff !important;
  background: var(--color-grey-400) !important;
}

.contentLight h2,
.contentDark h2 {
  text-align: center;
}

.white {
  color: #fff !important;
}

.card {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.card:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 1s;
  transform: scale(1.01);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date {
  font-size: 1.7rem;
  margin-left: 1rem;
  margin-top: -5px;
}
